* {
    padding: 0;
    margin: 0;
}

body {
    background: #aaa;
    color: #333;
    font-family: 'Euclid Circular A', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.alerta {
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h1 {
    text-shadow: 2px 2px #777;
}

#snake {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}